build==0.3.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
fonttools==4.21.1
idna==2.10
packaging==20.9
pep517==0.9.1
pkg-resources==0.0.0
pyparsing==2.4.7
requests==2.25.1
SEPCMaths==0.1
-e git+https://github.com/SEOriginal/SEPModules@c5d41887d13a89f9b36f5cef35ac27eb3542f4e8#egg=SEPModules
toml==0.10.2
urllib3==1.26.3
